body {
    background-color: rgb(249, 249, 249);
    font-family: arial, sans-serif;
}

.top-nav-bar{
    display:flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 5px;
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

td:nth-child(even){
    text-align: right;
}

a:link{
    color: #696969;
}

a:visited{
    color: #696969;
}

a:hover{
    color: black;
}

a:active{
    color: #696969;
} 

.top-nav-bar-list{
    display: flex;
    align-items: center;
    justify-items: center;
    line-height: 1.25;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
}

.top-nav-bar-list-item{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-me-item{
    position: absolute;
    right:55px;
}

.home-item{
    position: absolute;
    left:55px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -px;
    text-align: center;
    padding-top:25px;
    padding-bottom: 0px;
}

.main-heading-container{
    text-align: center;
}

.sub-heading-container{
    text-align: left;
}

.main-content-container{ 
    width: auto;
    height:auto;
    display: inline-flex;
}

.specifications-main-content-container{
    width: auto;
    height:auto;
    display: inline-flex;
}

.specifications-main-content-center{
    text-align: left;
    margin:auto;
    max-width: 33%;
}

.specifications-main-content-left{
    text-align: left;
    margin:auto;
    margin-top: 88px;
    width: 30%;
}

.specifications-main-content-right{
    text-align: left;
    margin:auto;
    margin-top: 88px;
    width: 30%;
}

.specifications-main-content-center img {
    width: 100%;
    height: 100%;
    border-radius: 5px;;
}

.main-content-container img { 
    width: 100%;
    height: 100%;
    border-radius: 5px;;
}

.main-content-center{
    text-align: center;
    margin:auto;
    margin-left: 0;
    margin-right: 0;
    max-width: 41%;
}

.main-content-left{
    text-align: left;
    margin:auto;
    margin-right: 2vw;
    max-width: 13%;
}

.main-content-right{
    text-align: right;
    margin:auto;
    margin-left: 2vw;
    max-width: 13%;
}

.main-sub-content-container{
    text-align: left;
    width: 57%;
    margin: auto;
}

.main-sub-content{
    font-size: 22px
}

.photography-page-main-content-container{
    display: inline-flex;
    text-align: center;
}

.photography-page-main-content{
    max-width: 30%;
    padding: 8px;
}

.photography-right{
    margin-right: auto;
}

.photography-left{
    margin-left: auto;
}

.photography-page-main-content img{
    border-radius: 5px;
    margin: 2px;
    width: 100%;
}

.contact-page-image-container{
    margin: auto;
    max-width: 40%;
}

.contact-page-image-container img{
    border-radius: 10px;
    width: 100%;
}

.specifications-information-table{
    text-align: left;
    margin: auto;
    font-size: 24px;
    width: 100%;
}

.contact-information-table{
    text-align: left;
    margin: auto;
    margin-top: 22px;
    font-size: 24px;
    width: auto;
}

